## Label Encoding

Label Encodingand ordinal encoding are two methods used to encode categorical data as numerical data.
Label Encoding assigns a unique numerical label to each category in the variable. The labels are usually assigned in alphabetical order or basd on the frequency of the cataegories. 

ex: if there is a "color" varible with 3 values('red', 'blue', 'green') we can represent it as:

1. red:1
2. blue:2
3. green:3

In [4]:
import pandas as pd
df=pd.DataFrame({'color':['red','blue','green', 'green','red', 'blue']})

In [5]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [6]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

In [11]:
lbl_encoder.fit_transform(df[['color']])

C:\Users\vidushi\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [13]:
lbl_encoder.transform([['red']])

C:\Users\vidushi\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

## Ordinal Encoding

Ordinal encoding is used to encode categorical data that have a intrinsic order or ranking. In this method each category is assigned a numerical value based on its position in the order.

ex: if we have categorical variable "eduaction level" with value (high svhool, college, graduate, post graduate) we can represent it as follows:

1. high school: 1
2. college: 2
3. graduate: 3
4. post graduate: 4

In [27]:
from sklearn.preprocessing import OrdinalEncoder

In [29]:
df=pd.DataFrame({'size':['small','medium','large','medium','small','large']})

In [31]:
df.head()

     size
0   small
1  medium
2   large
3  medium
4   small

In [33]:
ord_encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [35]:
ord_encoder.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])